header {
    display:flex;
}

.logo {
    font-size:40pt;
    text-transform: uppercase;
    margin-left: 25%;
}
nav {
    height:25vh;
    font-size: 24pt;
    width: 20%;
    float: left;
    background:rgb(50, 30, 186);
    font-style: italic;
    margin-right: 25px;
    margin-bottom: 200px;
}
nav a{   
    display:block; 
    text-decoration: none; 
    color:white;
    text-align: center;
}

nav a:hover{
    background-color: brown;
}

.form {
    display:flex;
    position: relative;
}