{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type='text/css'  href="{% static 'bboard/style.css' %}">
    <meta charset="UTF-8">  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
</head>
    <body>
        <header>
            <h1 class="logo">Объявления</h1>
        </header>
    
        <nav class="nav-left">
            <div>
                <a href="{% url 'index' %}">Главная</a>
                {% for rubric in rubrics %}
                <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>  <!-- рубрики --> 
                {% endfor %}
                {% if user.is_authenticated %}
                <a href="{% url 'add' %}">Добавить</a>
                {% endif %}
            </div>
        </nav>
          
        <!-- <h1 class="logo_profile">Профиль</h1> -->
        <div class="all-cont">
        <section class="">
            {% for bb in bbs %}
            {% if forloop.counter == 1 %}
            <h2>Профиль {{bb.user.username}} </h2>
            
            {% endif %}
            
            {% endfor %}
            <h3>Объявления</h3>
            <div id="cont">
                {% for bb in bbs %}
                    <div id="ob">       
                        <h2><a id="det" href="{% url 'detail' pk=bb.pk %}">{{ bb.title }}</a></h2> 
                        <p>{{ bb.content }}</p> 
                        <p>Цена: {{bb.price}}</p>
                        <p>Дата публикации:</p>
                        <p id="data">{{ bb.published|date:"d.m.Y H:i:s" }}</p>
                    </div>
                    {% empty %}
                    <h1>Объявлений пока нет</h1>
                {% endfor %}
            </div>
        </section>
        <nav class="nav-right">
                    {% for usinf in user_info %}
                    <div id="profile_before">
                        <div>
                        <p><span id="logo_profile_info"></span>Личные даные</p>
                        <p>ФИ:<span id="FLfirst">{{usinf.first_name}} {{usinf.last_name}}</span></p>
                        <p>номер телефона:<span id="phone_number">{{usinf.phone_number}}</span> </p>
                        <p>день рождения:<span id="birth_date">{{usinf.birth_date|date:'d.m.Y'}}</span></p>
                        
                        </div>
                    </div>
                    {% endfor %}   
        </nav>
    </body>
</html>